/*RESET*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Inicio*/
/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 1%;
    height: 5vh;
}

.navbar {
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.navbar li {
    font-weight: bold;
    border: 2px solid transparent;
    padding: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navbar li:hover {
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
    border-radius: 40px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30vh;
    justify-content: flex-start;
    padding: 3%;
    margin-top: 20%;
    margin-left: 2%;
}

.conteudo h2 {
    font-family: 'Anton', sans-serif;
    color: tomato;
    font-size: 40px;
    font-weight: bold;
}

.conteudo p {
    color: slategrey;
    padding-top: 2%;
    font-size: 20px;
}

.more {
    outline: none;
    border: none;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: tomato;
    padding: 2%;
    width: 30%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.pontos {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
}

.pontos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: slategrey;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: black;
    font-size: 30px;
    position: fixed;
    float: inline-end;
}

.pontoad {
font-size: 20px;
padding: 3%;
}

.fa-solid {
font-size: 25px;
padding: 2%;
}